
    

    <footer class="rounded-lg shadow m-4" style="width: 100%;">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="/img/logo_SBRiva.png" class="h-16" alt="SB RIVA Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SB Riva San Vitale</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="/" class="hover:underline me-4 md:me-6">Home</a>
                    </li>
                    <li>
                        <a href="/news/" class="hover:underline me-4 md:me-6">News</a>
                    </li>
                    <li>
                        <a href="/scuola/" class="hover:underline me-4 md:me-6">Scuola Bocce</a>
                    </li>
                    <li>
                        <a href="/contattaci/" class="hover:underline me-4 md:me-6">Contattaci</a>
                    </li>
                    <li>
                        <a href="/admin/" class="hover:underline">Admin</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://mifaweb.org/" class="hover:underline">MiFaWeb.org</a>. All Rights Reserved.</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>