<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SB RSV - HomePage</title>
        <link href="/css/variables.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body class="min-h-screen">
        <header class="absolute top-0 left-0 right-0 z-10">
            <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
                <a href="/" class="text-white text-xl font-semibold">
                    <img src="/img/logo_SBRiva.png" class="h-16" alt="SB RIVA Logo" />
                </a>
                <div class="space-x-6">
                    <a href="/storia/" class="text-white hover:text-gray-300">
                        Chi siamo
                    </a>
                    <a href="/news/" class="text-white hover:text-gray-300">
                        News
                    </a>
                    <a href="/scuola-bocce/" class="text-white hover:text-gray-300">
                        Scuola Bocce
                    </a>
                    <a href="/contattaci/" class="text-white hover:text-gray-300">
                        Contattaci
                    </a>
                </div>
            </nav>
        </header>
